.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    box-shadow: -10px -10px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-weight: 900;
    font-size: 0.5rem!important;
}

.result-box {
    width: 60vw;
    height: 60vh;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.25), 0px 0px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 20px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-weight: 900;
}

.form-div-r {
    font-family: 'Varela Round', sans-serif;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.759);
    height: 50vh;
    width: 50vw;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blurr(100px);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
}

.que-r {
    font-size: 1.6rem;
    font-weight: 400;
}

.score {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(77, 77, 77);
    animation: identifier 10s ease-in-out infinite;
}

.score>.duv {
    height: 30%;
}

.score>div>img {
    height: 100%;
    animation: name 6s infinite ease-in-out;
}

.congo {
    font-size: 2rem;
    color: white;
    height: 10px;
}

.score-res {
    font-size: 1.5rem;
    color: white;
    height: 10px;
}

.triangle-down {
    transform: scaleY(1);
    left: 45%;
    bottom: 50%;
    transform-origin: 100% 100%;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 290px solid rgba(255, 255, 255, 0.2);
}

.result {
    position: relative;
    flex: 1;
    border-radius: 10px;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes identifier {
    0% {
        background-color: #0f6da4;
    }
    20% {
        background-color: #FF1B7B;
    }
    40% {
        background-color: #00ac84;
    }
    60% {
        background-color: #3d9f00;
    }
    80% {
        background-color: #D07D00;
    }
    100% {
        background-color: #0f6da4;
    }
}

@keyframes name {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


/* #1BADFF
#FF2828
#FF1B7B
#1BFFC8
#72FF1B
#D119FF
#1EC9FF
#FF6868
#D07D00 */